<div ng-controller="USN.DesignListViewController">

    <div class="umb-content-grid usn-design-grid" ng-if="items">

        <div class="umb-content-grid__item umb-outline umb-outline--surrounding usn-design-grid-item" ng-repeat="item in items">
            <div class="umb-content-grid__content usn-design-grid-item-inner">
                <a ng-click="viewItem(item)" ng-class="{'-light': !item.published && item.updater != null}">
                    <div class="umb-content-grid__item-name umb-outline usn-design-title">
                        <i class="umb-content-grid__icon icon-brush color-deep-purple" aria-hidden="true"></i> 
                        <span>{{item.name}}</span>
                        <div class="umb-badge umb-badge--warning umb-badge--xs" ng-show="!item.published && item.updater != null">Unpublished</div>
                    </div>
                    <ul class="umb-content-grid__details-list" ng-class="{'-light': !item.published && item.updater != null}">
                        <li class="umb-content-grid__details-item">
                            <div class="umb-content-grid__details-label">Status:</div> 
                            <div class="umb-content-grid__details-value">{{item.state}}</div>
                        </li>
                        <li class="umb-content-grid__details-item">
                            <div class="umb-content-grid__details-label">Last edited:</div> 
                            <div class="umb-content-grid__details-value">{{item.updateDate}}</div>
                        </li>
                        <li class="umb-content-grid__details-item">
                            <div class="umb-content-grid__details-label">Updated by:</div> 
                            <div class="umb-content-grid__details-value">{{item.updater}}</div>
                        </li>
                        <li class="umb-content-grid__details-item">
                            <div class="umb-content-grid__details-label">Created by:</div> 
                            <div class="umb-content-grid__details-value">{{item.owner}}</div>
                        </li>
                    </ul>
                
                    <div class="usn-color-palette">
                        <div style="{{item.styleColors.contentBackgroundSwatch}}" class="usn-color"></div>
                        <div ng-repeat="color in item.styleColors.contentItems|limitTo:3" class="usn-color" style="{{color.backgroundSwatch}}"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>