<div class="usn-picker" ng-controller="USN.MultiUrlPicker.SizePicker">

    <label class="usn-item item smallItem usn-button-size" ng-click="model.setSize(model.item,'s')">
        <input value="s" name="sizeoptions_{{id}}" type="radio" ng-model="model.item.size">
        <span></span>
        <div class="name">Small</div>
    </label>
    <label class="usn-item item smallItem usn-button-size" ng-click="model.setSize(model.item,'m')">
        <input value="m" name="sizeoptions_{{id}}" type="radio" ng-model="model.item.size">
        <span></span>
        <div class="name">Medium</div>
    </label>
    <label class="usn-item item smallItem usn-button-size" ng-click="model.setSize(model.item,'l')">
        <input value="l" name="sizeoptions_{{id}}" type="radio" ng-model="model.item.size">
        <span></span>
        <div class="name">Large</div>
    </label>

</div>
