/*  
---------------------------------------------------
Page Components - Small Breakpoint
---------------------------------------------------  
*/


/*  
---------------------------------------------------
Sticky

Choose preset class 'Sticky' to sticky anything
---------------------------------------------------  
*/

body.no-header .item_block.sticky,
body:not(.no-header) .sticky { 
    top: calc(var(--small-header) - 1px);
}

body.no-header .item_block.sticky,
body:not(.no-header) .sticky { 
    top: calc(var(--small-header) - 1px);
}

html.nav-down body:not(.show_header-on-scroll-sm) .item_block.sticky { 
    top: calc(var(--base-half-spacing) - 1px);
}


/* No header or hide header on scroll */

html.nav-up body.hide_header-on-scroll-lg .sticky,
body.no-header .sticky { 
    top: -1px;
}


@media (min-width:0) and (max-width:767px) {
    .item_block.sticky,
    body:not(.no-header) .item_block.sticky { 
        position:relative!important;
        top:0!important;
    }

}

@media (min-width:768px) {

    body.no-header .item_block.sticky,
    html.nav-down body:not(.show_header-on-scroll-sm) .item_block.sticky { 
        top: calc(var(--base-half-spacing) - 1px);
    }

    body:not(.no-header) .item_block.sticky { 
        top: calc(var(--small-header) + var(--base-half-spacing) - 1px);
    }

    /* Extra space for when stick anchor nav is present */

    body.no-header .component.usn_cmp_anchornavigation.sticky ~ .component .item_block.sticky,
    html.nav-down body:not(.show_header-on-scroll-sm) .component.usn_cmp_anchornavigation.sticky ~ .component .item_block.sticky { 
        top: calc(var(--small-header) + var(--base-half-spacing) - 1px);
    }

    body:not(.no-header) .component.usn_cmp_anchornavigation.sticky ~ .component .item_block.sticky { 
        top: calc((var(--small-header) * 1.5) + var(--base-half-spacing) - 1px);
    }


    /* No header or hide header on scroll */

    body.no-header .item_block.sticky { 
        top: calc(var(--base-half-spacing) - 1px);
    }

}

