@inherits USNStarterKit.ViewPages.USNViewPage<USNStarterKit.Models.USNBaseViewModel>

@{
    string pageType = ViewData["pageLayout"] != null ? ViewData["pageLayout"].ToString() : String.Empty;

    if (pageType == "pageLayoutFull" && !Model.Content.Value<bool>("hidePageTitle"))
    {
    @:<section class="content base-bg pb-0"><div class="container">
    }

    if (!Model.Content.Value<bool>("hidePageTitle"))
    {
        <!-- Row -->
        <div class="row">
            <div class="heading-col col">
                <h1 class="heading main base-heading">@(Model.Content.HasValue("onPageTitle") ? Html.Raw(Model.Content.Value<string>("onPageTitle")).ToString() : Model.Content.Name)</h1>
            </div>
        </div>
        <!--// Row -->
    }

    if (pageType == "pageLayoutFull" && !Model.Content.Value<bool>("hidePageTitle"))
    {
    @:</div></section>
    }
}