/*  
---------------------------------------------------
Shop
---------------------------------------------------  
*/

/*  
---------------------------------------------------
Mini Shopping Cart in header
---------------------------------------------------  
*/

header#site-header nav.shopping-cart > *:not(.icon) { 
    font-size:0!important;
}

header#site-header nav.shopping-cart {
    position: relative;
    z-index: 200;
}

header#site-header nav.shopping-cart i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    color:  rgba(var(--main-navigation-link), 1);
    transform: translate(-50%, -50%);
}

header#site-header nav.shopping-cart span.amount {
    position: absolute; top: calc(50% - 15px); right: auto; left: calc(50% - 15px);
    width: 20px;
    height: 20px;
    padding: 1px 0 0;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    color:  rgba(var(--base-highlight-text), 1);
    opacity: 1;
    background-color:  rgba(var(--base-highlight), 1);
    transform: translate(-50%,-50%);
    transition: opacity 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s, top 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0.3s;
}

header#site-header nav.shopping-cart.snipcart-summary-empty span.amount {
    top: 23px;
    opacity: 0;
    background-color:  rgba(var(--form-success), 1);
    transform: scale(2.5) translate(-50%,-50%);
}
