@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    IEnumerable<IPublishedContent> rootNode = Umbraco.ContentAtRoot();
    var home = rootNode.FirstOrDefault(x => x.IsDocumentType(Usnhomepage.ModelTypeAlias));

    if (home != null)
    {
        Response.Redirect(home.Url());
    }
    else
    {
        <h2>@Umbraco.GetDictionaryValue("USN Website Not Published")</h2>
    }
}
