
/* 
-------------------------------------------
USN Alert 
------------------------------------------- 
*/

.alert.alert-usn {
    background-color: rgba(65, 54, 89, 0.05);
    color: #413659;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(28, 38, 79, 0.1);
    padding-top:15px; padding-bottom: 15px;
}
.alert.alert-usn > :first-child {
    margin-top: 0;
    padding-top: 0;
}

.alert.alert-usn > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.alert.alert-usn p.heading { 
    font-size:18px; font-weight: bold;
}

.alert.alert-usn p.link {
    padding-top: 5px;
}

.alert.alert-usn p.link + p { 
    padding-top:5px;
}

.alert.alert-usn a:not(.btn) { 
    color:#413659;
    font-weight:bold;
    text-decoration: underline;
}

.alert.alert-usn.alert-usn-warning,
.alert.alert-usn.alert-usn-warning { 
    color:#fff;
    background:#f0ac00;
    border-color:#f0ac00;
}
.alert.alert-usn.alert-usn-success,
.alert.alert-usn.alert-usn-success { 
    color:#fff;
    background:#1fb572;
    border-color:#1fb572;
}
.alert.alert-usn.alert-usn-danger,
.alert.alert-usn.alert-usn-danger { 
    color:#fff;
    background:#d42054;
    border-color:#d42054;
}


/* 
-------------------------------------------
Override tours & section dashboard
------------------------------------------- 
*/

.umb-drawer .umb-help-section .umb-help-badge { 
    display:none!important;
}

div.umb-help-list-item { 
    padding:6px 0;
    border-top: 1px solid #e9e9eb;
    background-color:#ffffff;
}
div.umb-help-list button.umb-help-list-item { 
    outline:0 none;
}
div.umb-help-list-item .umb-help-list-item__icon,
.domains .umb-help-list-item__icond { 
    width: 25px;
    height: 25px;
    font-size: 14px;
    margin-left:5px;
    margin-right: 17px;
    padding-top: 2px;
    font-weight: bold;
    background:#f3f3f5;
    border:0 none;
}
.umb-tour-step .umb-checkmark--checked,
div.umb-help-list-item .umb-help-list-item__icon.umb-checkmark--checked,
.domains .umb-help-list-item__icon.umb-checkmark--checked { 
    background: #2bc37c;
    color: #fff; 
    border-radius: 50%;
    border:0 none;
}