

  .usn-cms-colour-manager *,
  .usn-cms-colour-manager ::before,
  .usn-cms-colour-manager ::after {
    box-sizing: border-box;
  }

  .usn-cms-colour-manager,
  .usn-cms-colour-manager .usn-colour_accordion {
    padding-bottom: 15px;
  }
  .usn-cms-colour-manager .usn-introduction {
    padding: 0 15px 10px;
    padding: 0 0 10px;
  }
  .usn-cms-colour-manager .usn-introduction p.heading {
    display: block;
    margin: 10px 0 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .usn-cms-colour-manager .usn-introduction p.text {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 3px;
    color: #6A6A6A;
  }
  .usn-cms-colour-manager .usn-colour_accordion .usn-accordion-tab {
    position: relative;
    margin-top: 5px;
  }
  .usn-cms-colour-manager .usn-accordion-tab > a {
    position: relative;
    z-index: 1;
    padding: 15px; padding-left: 55px;
    display: block;
    text-decoration: none!important;
    font-size: 18px;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(28, 38, 79, 0.1);
    color: #413659;
    box-shadow: 0 0 10px rgba(53, 68, 177, 0);
    background: rgba(65, 54, 89, 0.05);
    transition: all 0.4s ease-in-out 0s;
    border-radius: 3px;
  }
  .usn-cms-colour-manager .usn-accordion-tab.color-open > a {
    background: #ffffff;
    border-radius: 10px;
  }
  .usn-cms-colour-manager .usn-accordion-tab:not(.color-open) > a:hover {
    background: #f9f9f9;
    border-color: rgba(28, 38, 79, 0.5);
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(16, 31, 60, 0.1);
  }
  .usn-cms-colour-manager .usn-accordion-tab > a > span {
    display: inline-block;
  }
  .usn-cms-colour-manager .usn-accordion-tab > a > span.colour-name {
    padding-left: 0;
    font-size: 16px;
    font-weight: normal;
  }
  .usn-cms-colour-manager .usn-accordion-tab span.colour-name > span {
    position: absolute; top:50%; left:5px;
    width: 25px;
    height: 25px;
    border: 0 none;
    box-shadow: none;
    border-radius: 3px;
    transform:translateY(-50%);
    transition: all 0.4s ease-in-out 0s;
  }
  .usn-cms-colour-manager .usn-accordion-tab.color-open span.colour-name > span {
    border-radius: 8px;
  }

  .usn-cms-colour-manager .usn-accordion-content {
    padding: 15px 0;
  }

  .usn-cms-colour-manager .usn-accordion-content.color-closed {
    display: none;
  }

  /* Accordion arrows */
  .usn-cms-colour-manager .usn-accordion-tab > a::after { 
      content:'';
      position: absolute; right:17px; top:20px;
      border: solid rgba(28, 38, 79, 1);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
  }
  .usn-cms-colour-manager .usn-accordion-tab.tab-open > a::after { 
      top:22px;
      transform: rotate(-135deg);
  }

  .usn-cms-colour-manager .usn-add-colour,
  .usn-cms-colour-manager .usn-accordion-controls > div {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background: rgba(65, 54, 89, 0.05);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(28, 38, 79, 0.1);
    box-shadow: 0 1px 2px rgba(53, 68, 177, 0.1);
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
  }
  .usn-cms-colour-manager .usn-add-colour {
    left: 50%;
    transform: translateX(-50%);
  }
  .usn-cms-colour-manager .usn-add-colour:hover,
  .usn-cms-colour-manager .usn-accordion-controls > div:hover {
    border-color: rgba(27, 38, 79, 0.2);
    box-shadow: 0 0 10px rgba(27, 38, 79, 0.2);
    background: #f9f9f9;
    border-color: rgba(28, 38, 79, 0.5);
    border-width: 1px;
    box-shadow: 0 0 10px rgba(16, 31, 60, 0.1);
  }
  .usn-cms-colour-manager .usn-add-colour > span,
  .usn-cms-colour-manager .usn-accordion-controls > div > span {
    display: block;
    text-indent: -9999px;
  }
  .usn-cms-colour-manager .usn-add-colour::before,
  .usn-cms-colour-manager .usn-add-colour::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 1px;
    background: #1b264f;
    transform: translate(-50%, -50%);
  }
  .usn-cms-colour-manager .usn-add-colour::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .usn-cms-colour-manager .usn-accordion-controls > div {
    position: absolute;
    top: 50%;
    z-index: 4;
    background: #ffffff;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
  }
  .usn-cms-colour-manager .usn-accordion-controls > .usn-move {
    right: 80px;
  }
  .usn-cms-colour-manager .usn-accordion-controls > .usn-delete {
    right: 40px;
  }
  .usn-cms-colour-manager .usn-accordion-controls div svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: auto;
    path: #1b264f;
    transform: translate(-50%, -50%);
  }
  .usn-cms-colour-manager .usn-accordion-controls > .usn-move svg {
    width: 15px;
  }
  .usn-cms-colour-manager .usn-accordion-tab.color-open > .usn-accordion-controls > div {
    opacity: 0.2;
    pointer-events: none;
  }
  .usn-cms-colour-manager .usn-col {
    display: block;
    width:100%;
  }
  .usn-cms-colour-manager .usn-colour-list {
    position: relative;
    background: #ffffff;
    width: 100%;
    clear:both;
  }
  .usn-cms-colour-manager .usn-colour-list::after {
    content:"";
    display: block; 
    width:100%;
    height:1px;
    clear:both;
  }
  .usn-cms-colour-manager .usn-colour-list .usn-colour-item {
    position: relative;
    padding: 15px 15px;
    min-height: 50px;
  }
  .usn-cms-colour-manager .usn-colour-list .usn-colour-item > label {
    position: relative;
    padding-left:47.5px;
  }
  .usn-tooltip-wrap {
    position: relative;
    z-index: 1000;
    display: inline-block;
    overflow: visible;
  }
  .usn-cms-colour-manager .usn-colour-list .usn-colour-item .usn-tooltip {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(28, 38, 79, 0.1);
    box-shadow: 0 0 2px rgba(27, 38, 79, 0.12);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out 0s;
  }
  /* Base styles for the element that has a tooltip */
  .usn-colour-item [data-tooltip],
  .usn-colour-item .usn-tooltip {
    position: relative;
    cursor: pointer;
    z-index: 1001;
  }
  /* Base styles for the entire tooltip */
  .usn-colour-item [data-tooltip]:before,
  .usn-colour-item [data-tooltip]:after,
  .usn-colour-item .usn-tooltip:before {
    position: absolute;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    transform: translate3d(0, 0, 0);
    pointer-events: none;
  }
  /* Show the entire tooltip on hover and focus */
  .usn-colour-item [data-tooltip]:hover:before,
  .usn-colour-item [data-tooltip]:hover:after,
  .usn-colour-item [data-tooltip]:focus:before,
  .usn-colour-item [data-tooltip]:focus:after,
  .usn-colour-item .usn-tooltip:hover:before,
  .usn-colour-item .usn-tooltip:focus:before {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  /* Base styles for the tooltip's directional arrow */
  .usn-colour-item .usn-tooltip:before,
  .usn-colour-item [data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
  }
  /* Base styles for the tooltip's content area */
  .usn-colour-item .usn-tooltip:after,
  .usn-colour-item [data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 180px;
    background-color: #333;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 12px;
    line-height: 1.2;
  }
  /* Right */
  .usn-colour-item .usn-tooltip:before,
  .usn-colour-item .usn-tooltip:after {
    top: -7px;
    left: 22px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .usn-colour-item .usn-tooltip:before {
    top: 3px;
    left: 11px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-right-color: #333;
  }
  .usn-cms-colour-manager .usn-colour-list .usn-colour-item .colour-swatch {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 5;
    /*
    width: 35px;
    */
    height: 30px;
    /*
    border-width: 1px;
    border-style: solid;
    border-color: rgba(28, 38, 79, 0.1);
    */
    box-shadow: 0 1px 2px rgba(53, 68, 177, 0.1);
    border-radius: 3px;
  }
  .usn-cms-colour-manager .usn-colour-demo * {
    margin: 0;
    padding: 0;
  }
  .usn-cms-colour-manager .usn-colour-demo div {
    padding: 5px 0;
  }
  .usn-cms-colour-manager .usn-colour-demo p {
    padding: 5px 0;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_body {
    padding: 30px;
    position: relative;
    display: flex; height:100%;
    /*
    transform: translateY(-50%);*/
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_content {
    font-size: 16px;
    padding: 30px;
    max-width: 700px;
    margin: 0 auto;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_heading {
    font-weight: 700;
    font-size: 40px;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_secondary-heading {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 0 15px;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_heading {
    font-weight: 900;
    font-size: 40px;
    padding: 0 0 15px;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_heading.usn-small_heading {
    font-weight: 700;
    font-size: 22px;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_highlight {
    display: inline-block;
    padding: 0 4px 2px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out 0s;
  }
  .usn-cms-colour-manager .usn-colour_text {
    margin-bottom: 15px;
  }
  .usn-cms-colour-manager .usn-colour_text > ul {
    list-style: none;
  }
  .usn-cms-colour-manager .usn-colour_text > ul > li {
    padding: 5px 0;
  }
  .usn-cms-colour-manager .usn-colour_text span.label {
    display: inline-block;
    padding: 1px 3px;
    text-shadow: none!important;
  }
  .usn-colour_text .quote-mark {
    margin: 0;
    padding: 10px 0 0!important;
    font-family: serif;
  }
  .usn-cms-colour-manager .usn-colour_nav {
    margin-bottom: 15px;
  }
  .usn-cms-colour-manager .usn-colour_nav > ul {
    list-style: none;
  }
  .usn-cms-colour-manager .usn-colour_nav > ul > li {
    display: inline-block;
    margin-right: 10px;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_link {
    text-decoration: underline;
    font-weight: 500;
    transition: all 0.3s ease-in-out 0s;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_button {
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    text-align: center;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_button { 
    position: relative;
    z-index:1;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_button > span { 
    position: absolute; top:-2px; left:-2px; right:-2px; bottom:-2px;
    z-index:0;
    border-width: 2px;
    border-style: solid;
    padding: 15px 18px;
    font-size: 18px;
    opacity:0;
    border-radius: 3px;
    transition: all 0.3s ease-in-out 0s;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_button:hover > span { 
    opacity:1;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_button.usn-big-button {
    padding: 15px 20px;
    font-size: 18px;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_table {
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin-bottom: 20px;
  }
  .usn-cms-colour-manager .usn-colour-demo .usn-colour_table td {
    padding: 7px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: inherit;
  }
  .usn-cms-colour-manager .colour-block {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
  }
  .usn-cms-colour-manager .colour-block > .usn-colour-list-wide {
    flex: 1 100%;
  }

  

@media (min-width: 500px) and (max-width: 899px) {
    .usn-cms-colour-manager .usn-colour-list .usn-colour-item {
      width: 50%;
      float: left;
    }
    .usn-cms-colour-manager .usn-col.usn-colour-list .usn-colour-item.usn-tabbed-colour { 
      float:none;
      width: 100%;
    }
  }
  @media (min-width: 900px) {
    .usn-cms-colour-manager .usn-colour-list {
      padding-bottom: 0;
      width:auto;
    }
    .usn-cms-colour-manager .usn-col.usn-colour-list:not(.usn-colour-list-wide) {
      flex: 0 0 280px;
    }
    .usn-cms-colour-manager .usn-col.usn-colour-demo {
      flex: 2;
    }
    .usn-cms-colour-manager .usn-colour-demo .usn-colour_body {
      padding: 40px;
    }
    .usn-cms-colour-manager .usn-colour-demo .usn-colour_content {
      padding: 40px;
    }
    .usn-cms-colour-manager .usn-colour-demo .usn-colour_content {
      height:360px;
      position:sticky; top:60px;
    }
    .usn-cms-colour-manager .usn-colour-demo .usn-colour_body.usn-colour_body-button .usn-colour_content { 
      height:160px;
    }
  }
  @media (min-width: 900px) and (max-width: 1349px) {
    .usn-cms-colour-manager .usn-col.usn-colour-list.usn-colour-list-wide .usn-colour-item{
      width: 50%;
      float: left;
    }
    .usn-cms-colour-manager .usn-col.usn-colour-list.usn-colour-list-wide .usn-colour-item.usn-tabbed-colour { 
      float:none;
      width: 100%;
    }
    .usn-cms-colour-manager .usn-colour-demo .usn-colour_content {
      height:460px;
    }
  }
  @media (min-width: 1350px) {
    .usn-cms-colour-manager .usn-col.usn-colour-list.usn-colour-list-wide .usn-colour-item {
      width: 25%;
      float: left;
    }
    .usn-cms-colour-manager .usn-colour-demo .usn-colour_content {
      height:360px;
    }
  }
  @media (min-width: 1100px) and (max-width:1150px) {
    .usn-cms-colour-manager .usn-colour-demo .usn-colour_content {
      height:520px;
    }
  }

  .usn-cms-colour-manager .usn-col.usn-colour-list.usn-colour-list-wide .usn-colour-item.usn-tabbed-colour { 
    float:none;
    width: 100%;
  }

  .usn-cms-colour-manager .usn-col.usn-colour-list.usn-colour-list-wide hr { 
    margin:15px 0 5px;
  }
  .usn-cms-colour-manager .usn-col.usn-colour-list.usn-colour-list-wide .usn-introduction { 
    padding-bottom:0;
  }
  


  /* NEW color Swatch text */
  .usn-cms-colour-manager .usn-accordion-tab > a > span.colour-name {
    padding-left: 50px;
  }
  .usn-cms-colour-manager .usn-accordion-tab span.colour-name > span {
    width: 40px;
    height: 40px;
    border-width: 2px;
  }
/*
  .usn-cms-colour-manager .usn-accordion-tab span.colour-name > span::before { 
    content:"Aa";
    position: absolute; top:8px; left:8px;
    font-weight: bold;
  }
*/
  .umb-color-swatches .umb-color-box { 
    position:relative;
    font-size: 16px;
    font-weight: bold;
    border-width: 2px;
  }
/*
  .umb-color-swatches .umb-color-box::before { 
    content:"Aa";
    position: absolute; top:9px; left:50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out 0s;
  }
*/
  .umb-color-swatches .umb-color-box.active::before { 
    opacity:0;
  }


/* Tabs for gradient */

.usn-cms-colour-manager .usn-colour-list .usn-tabbed-colour { 
  clear:both;
}
.usn-cms-colour-manager .usn-colour-list .usn-colour-item.usn-tabbed-colour { 
  padding-left:0;
  padding-right:15px;
}
.usn-cms-colour-manager .usn-colour-list .usn-tabbed-colour.usn-gradient-colour { 
  padding-bottom: 0;
}
.usn-cms-colour-manager .usn-colour-list .usn-tabbed-colour.usn-gradient-colour { 
  padding-top:10px;
}
.usn-tabbed-colour::after {
  content:"";
  display: block; 
  width:100%;
  height:1px;
  clear:both;
}

.usn-tabbed-colour .usn-tabs { 
  margin:-5px -2.5px 0;
}

.usn-tabbed-colour .usn-tabs .btn-tab {
  flex:auto;
  position: relative;
  z-index: 1;
  text-decoration: none!important;
  padding:5px 10px;
  text-transform: uppercase;
  border-width: 1px; border-style: solid; border-color: rgba(28, 38, 79, 0);
  color: #413659;
  background: rgba(65, 54, 89, 0.1);
  transition: all 0.4s ease-in-out 0s;
  border-radius: 3px;
  margin:5px 2.5px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 9px;
  cursor:pointer;
}

.usn-tabbed-colour .usn-tabs .btn-tab > input { 
  display: none;
}

.usn-tabbed-colour .usn-tabs .btn-tab:not(.usn-tab-active):hover {
  border-color: rgba(28, 38, 79, 0.2);
}

.usn-tabbed-colour .usn-tabs .btn-tab.usn-tab-active { 
  background: rgba(65, 54, 89, 0);
  border-color: rgba(28, 38, 79, 0.1);
}
 
.usn-tabbed-colour .usn-tabs .btn-tab::before {
  content:"";
  position: absolute; bottom:0; left:3px; right:3px;
  height:3px;
  border-radius:5px 5px 0 0;
  background-color: rgba(0,0,0,0);
  transition: all 0.4s ease-in-out 0s;
}
 
.usn-tabbed-colour .usn-tabs .btn-tab.usn-tab-active::before {
  background-color: #F5C1BC;
}

.usn-tabbed-colour .usn-tab-pane { 
  position: relative;
  z-index: 2;
  clear:both;
}
.usn-colour-list:not(.usn-colour-list-wide) .usn-tabbed-colour .usn-tabbed-colour:not(.usn-gradient-position) .usn-tab-pane {
  padding:5px 0 10px;
  margin-bottom:10px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(28, 38, 79, 0.1);
}

.usn-tabbed-colour.usn-gradient-colour .usn-tab-pane { 
  padding:0;
  margin-bottom:0;
  border: 0 none;
}

.usn-tabbed-colour .usn-tab-pane::after {
  content:"";
  display: block; 
  width:100%;
  height:1px;
  clear:both;
}


/* Gradient positions */
.usn-gradient-position { 
  margin-bottom: 5px;
}
.usn-gradient-position,
.usn-gradient-position > .inner { 
  display: flex;
  flex-wrap: wrap;
  width:90px; height:90px;
  position: relative;
  top:5px; left:-7.5px;
}
.usn-gradient-position > .inner { 
  position: relative;
  top:0; left:0;
}
.usn-gradient-position::before,
.usn-gradient-position::after { 
  content: "";
  display: block;
  height:2px;
  position: absolute; top:14px; left:15px; right:15px; z-index:0;

  background-color: #e9e9eb;
}
.usn-gradient-position::after { 
  top:auto; bottom:5px;
}
.usn-gradient-position > .inner::before,
.usn-gradient-position > .inner::after { 
  content: "";
  display: block;
  width:2px;
  position: absolute; left:14px; top:15px; bottom:7.5px; z-index:0;

  background-color: #e9e9eb;
}
.usn-gradient-position > .inner::after { 
  left:auto; right:14px;
}

.usn-gradient-position > .inner > .usn-gradient-point { 
  flex:0 0 30px;
  position: relative;
  width:30px;
  height:30px;
  cursor:pointer;
}
.usn-gradient-position > .inner > .usn-gradient-point input { 
  display: none;
}
.usn-gradient-position > .inner > .usn-gradient-point::before { 
  content: "";
  display: block;
  width:15px; height:15px;
  position: absolute; top:50%; left:50%; z-index:2;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 5px;

  background-color: rgba(255,255,255, 1);
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9eb;
  cursor:pointer;
  transition: all 0.3s ease-in-out 0s;
}
.usn-gradient-position > .inner > .usn-gradient-point:not(.usn-active):hover::before {  
  background-color: #e9e9eb;
  border-color: rgba(28, 38, 79, 0.5);
  box-shadow: 0 0 5px rgba(16, 31, 60, 0.1);
  border-radius: 50%;
}
.usn-gradient-position > .inner > .usn-gradient-point.usn-active::before {  
  background-color: #F5C1BC;
  border-color: #F5C1BC;
  box-shadow: 0 0 5px rgba(28, 38, 79, 0);
  border-radius: 50%;
}

.usn-gradient-position > .inner > .usn-gradient-point.usn-gradient-mid-center.hidden + .usn-gradient-point.usn-gradient-mid-right { 
  margin-left:30px;
}


@media (min-width: 1350px) {

  /* Inside the wide layouts only */
  .usn-col.usn-colour-list.usn-colour-list-wide .usn-tab-pane .usn-tabbed-colour.usn-gradient-colour {
    position: relative; top: -43px;
    width: 25%; float: left;
    clear: none;
  }

}
