@inherits USNStarterKit.ViewPages.USNViewPage<USNBlock>

@using USNStarterKit.Models;

<div id="order-list">
    <h2>Orders List</h2>
    <div id="OrderDetailsSection">

    </div>
</div>
<div id="Order-details" style="display:block;">

</div>
<script src="~/scripts/ProvidersScript/ProviderOrdersList.js"></script>