@inherits USNStarterKit.ViewPages.USNViewPage<USNBlock>

@using USNStarterKit.Models;

@using USNStarterKit.Extensions;
<div>
    <div id="wallet-section">

    </div>
</div>
<script src="~/Scripts/ProvidersScript/ProviderWallet.js"></script>