/*	
--------------------------------------------------
Footer navigation
-------------------------------------------------- 
*/

footer#site-footer .row:only-of-type > .col > nav.footer-navigation { 
    padding-top:0!important;
}

nav.footer-navigation {
    padding: var(--base-spacing) 0 0;
}

nav.footer-navigation ul li {
    display: block;
    padding: 10px 0;
}

nav.footer-navigation ul li a,
nav.footer-navigation ul li div {
    display: inline;
    padding: 0;
}

footer#site-footer nav.footer-navigation ul li:not(.site-credit) a:not(.btn) { 
    color: rgba(var(--footer-link), 1);
}

footer#site-footer nav.footer-navigation ul li:not(.site-credit) a:not(.btn):hover,
footer#site-footer nav.footer-navigation ul li:not(.site-credit) a:not(.btn):focus,
footer#site-footer nav.footer-navigation ul li:not(.site-credit) a:not(.btn):active  { 
    color: rgba(var(--footer-link-hover), 1);
}

footer#site-footer nav.footer-navigation ul li.site-credit a:not(.btn) {
    font-weight:700;
    color: rgba(var(--footer-highlight), 1);
}

@media (min-width:768px) {
    nav.footer-navigation ul li {
        margin: 0 8px 0 0;
        padding: 0;
        display: inline-block;
    }
    nav.footer-navigation ul li.site-credit {
        clear: both;
        display: block;
        padding: 40px 0 0; margin-right:0;
    }
}

@media (min-width:768px) and (max-width:991px) {}

@media (min-width:992px) {

    nav.footer-navigation {
        padding-top: calc(var(--base-spacing) * 2);
    }
    nav.footer-navigation ul li.site-credit {
        float: right;
        clear: none;
        padding: 0; margin:0;
    }
}