/*  
---------------------------------------------------
RTL support changes only
---------------------------------------------------  
*/

/* Base */

html[dir="rtl"] { 
    text-align:right!important;
    overflow-x: hidden;
}
html[dir="rtl"] .text-left { 
    text-align:right!important;
}
html[dir="rtl"] .text-center { 
    text-align:center!important;
}
html[dir="rtl"] .text-right { 
    text-align:left!important;
}

html[dir="rtl"] blockquote::before,
html[dir="rtl"] .quote::before {
    left: auto;
    right: 0;
}

html[dir="rtl"] .text-center blockquote::before,
html[dir="rtl"] .text-center .quote::before {
    left: 50%;
    transform: translateX(-50%) scaleX(-1);
}

html[dir="rtl"] .text-right blockquote::before,
html[dir="rtl"] .text-right .quote::before {
    left: 0;
    right: auto;
}

/* Breadcrumb nav */

html[dir="rtl"] .breadcrumb-trail ol.breadcrumb li.breadcrumb-item i.icon.before { 
    margin: 0 0 0 8px;
}
html[dir="rtl"] .breadcrumb-trail ol.breadcrumb li.breadcrumb-item i.icon::before { 
    transform: rotate(180deg);
}

@media (min-width: 600px) {
    html[dir="rtl"] .breadcrumb-trail ol.breadcrumb li.breadcrumb-item {
        margin-right: 0; margin-left: 15px;
    }
}

/* Footer nav */

@media (min-width:768px) {

    html[dir="rtl"] nav.footer-navigation ul li:not(.site-credit) { 
        margin-right:0; margin-left:8px;
    }

}

/* Pagination nav */

html[dir="rtl"] nav#pagination .pagination li.prev { 
    left:auto; right:0;
    transform: rotate(180deg);
}
html[dir="rtl"] nav#pagination .pagination li.next {
    left:0; right:auto;
    transform: rotate(180deg);
}

/* Quick links */

html[dir="rtl"] .quick-links ul li a,
html[dir="rtl"] .listing.listing_links.listing_links-mini .item a {
    padding-left: 0; padding-right:15px;
}

html[dir="rtl"] .quick-links ul li a::after,
html[dir="rtl"] .listing.listing_links.listing_links-mini .item a::after {
    left: auto; right: 0;
}

html[dir="rtl"].no-touch .quick-links ul li a:hover,
html[dir="rtl"].no-touch .listing.listing_links.listing_links-mini .item a:hover {
    padding-left: 0; padding-right:18px;
}

/* Sitemap nav */

html[dir="rtl"] nav.sitemap ul.nav ul.nav { 
    margin-left:0; margin-right:var(--base-half-spacing);
}
html[dir="rtl"] nav.sitemap ul li::before,
html[dir="rtl"] nav.sitemap ul li::after {
    left: auto; right: 0;
}
html[dir="rtl"] nav.sitemap ul li a:hover {
    padding-right: 18px; padding-left:0;
}

/* Sub nav */

html[dir="rtl"].no-touch nav.sub ul li:not(.active) span a:hover { 
    padding-left:0; padding-right:3px;
}
html[dir="rtl"] nav.sub ul ul li span a,
html[dir="rtl"] nav.sub ul ul ul { 
    padding-left: 0; padding-right: 12px;
}
html[dir="rtl"].no-touch nav.sub ul ul li:not(.active) span a:hover { 
    padding-left:0; padding-right: 15px;
}
html[dir="rtl"] nav.sub ul ul li span a::before { 
    left: auto; right: 0;
}

html[dir="rtl"] .in-this-section>p.expand-sub>i { 
    float:left;
}

/* Misc */

html[dir="rtl"] i.before { 
    margin:0 0 0 5px;
}

html[dir="rtl"] i.after { 
    margin:0 5px 0 0;
}

html[dir="rtl"] .alert .close {
    float: left; margin-left: -10px; margin-top: -5px!important;
}

/* Components */

html[dir="rtl"] .repeatable.tabbed .tab { 
    margin-right: 0; margin-left: 2px;
}

html[dir="rtl"] .repeatable.tabbed.tab-buttons .tab .nav-link { 
    margin: 0 0 0 5px;
}
html[dir="rtl"] .text-right .repeatable.tabbed.tab-buttons .tab .nav-link { 
    margin:0 5px 0 0;
}

html[dir="rtl"] .repeatable.tabbed.tab-underline .tab .nav-link { 
    margin: 0 0 0 10px;
}
html[dir="rtl"] .text-right .repeatable.tabbed.tab-underline .tab .nav-link { 
    margin:0 10px 0 0;
}

html[dir="rtl"] .repeatable.tabbed.tab-linethrough .tab .nav-link { 
    margin: 0 0 0 10px;
}
html[dir="rtl"] .text-right .repeatable.tabbed.tab-linethrough .tab .nav-link { 
    margin:0 10px 0 0;
}

html[dir="rtl"] .repeatable.accordion .tab .nav-link { 
    padding-right:15px; padding-left:50px;  
}

html[dir="rtl"] .repeatable.accordion .tab .nav-link::after {
    right: auto; left: 0;
}

html[dir="rtl"] .repeatable.accordion.tab-underline .tab .nav-link::after,
html[dir="rtl"] .repeatable.accordion.tab-linethrough .tab .nav-link::after { 
    text-align: left;
}

html[dir="rtl"] .repeatable.tab-linethrough .tab .nav-link::before,
html[dir="rtl"] .repeatable.tab-underline .tab .nav-link::before { 
    right:0;
}
html[dir="rtl"] .component.usn_cmp_anchornavigation nav.tab-linethrough ul.nav li.nav-item a.nav-link::after { 
    right:0;
}
html[dir="rtl"] .component.usn_cmp_anchornavigation nav.tab-underline ul.nav li.nav-item a.nav-link::after { 
    right:0;
}

/* Listing */

@media (min-width:768px) {

    html[dir="rtl"] .item.item_text-right:not(.item_has-bg):not(.item-blog) .image+.info { 
        padding:0 var(--base-spacing) var(--base-spacing) 0;
    }
    html[dir="rtl"] .item.item_text-left:not(.item_has-bg):not(.item-blog) .image+.info { 
        padding:0 0 var(--base-spacing) var(--base-spacing);
    }

}

/* Forms */

html[dir="rtl"] .radio label,
html[dir="rtl"] .checkbox label {
    padding-left: 0; padding-right: 20px;
}

html[dir="rtl"] .radio label input[type="radio"],
html[dir="rtl"] .checkbox label input[type="checkbox"] {
    left: auto;
    right: -2px;
}

html[dir="rtl"] .form-group.dropdown::after,
html[dir="rtl"] .form-group.date::after {
    padding: 6px 0 3px var(--base-half-spacing);
    text-align: left!important;
}

html[dir="rtl"] .form.login-form .show-password { 
    right:auto;
    left: (0 + var(--form-field-border-width)); 
}

html[dir="rtl"] .item_form-single_field .form fieldset.buttons { 
    left: var(--base-border-width); right: auto;
}

html[dir="rtl"] .form.login-form .show-password { 
    left: calc(0px + var(--form-field-border-width));
}

/* Windows */

/* Lightwindow */

html[dir="rtl"] .ekko-lightbox::before { 
    right:auto; left:var(--base-half-spacing);
}

/* Main Navigation */

html[dir="rtl"] nav.main ul li.has-child>span::after {
    right:auto; left:0;
}

/* Secondary Navigation */

html[dir="rtl"] nav.secondary ul li.language-selector a > picture + span,
html[dir="rtl"] nav.secondary ul li.language-selector a > img + span { 
    margin-right:5px;
}

/* CTA Navigation */

/* Site search */

html[dir="rtl"] .site-search .form-control {
    padding-right: var(--base-half-spacing); padding-left: 50px;
}
html[dir="rtl"] .site-search button.btn {
    right: auto; left: var(--base-border-width);
}

html[dir="rtl"] footer#site-footer .site-search .form-control {
    padding-right: var(--base-half-spacing); padding-left: 40px;
}

html[dir="rtl"] footer#site-footer .site-search button.btn { 
    right: auto; left: var(--base-border-width);
}

/* Burger Navigation */

html[dir="rtl"] header#site-header a.expand {
    right: auto; left: 0;
}
