/*  
----------------------------------------------------------------------------------------------------
All Forms - Large Breakpoint
---------------------------------------------------------------------------------------------------- 
*/

.form-control {
    padding: var(--base-half-spacing);
}
.form-control,
.form-group.dropdown::after,
.form-group.date::after {
    min-height: 50px;
}
.form-group.dropdown::after,
.form-group.date::after {
    padding: 10px var(--base-half-spacing) 0 0;
}
.form-group.uploadafile .form-control {
    padding-top: 10px;
}
