/*  
----------------------------------------------------------------------------------------------------
All Forms
---------------------------------------------------------------------------------------------------- 
*/

.form > .inner { 
    padding:var(--base-spacing);
}

.form > .inner .info { 
    margin-bottom:var(--base-half-spacing);
}

footer#site-footer .form .inner { 
    padding:0!important; border:0 none!important;
} 

textarea {
    resize: none;
}

fieldset {
    margin: 0 0 var(--base-half-spacing);
}

fieldset.buttons {
    margin: 0;
}

.heading.umbraco-forms-caption:not(.main) {
    color: inherit;
}

legend {
    color: inherit;
    border-color: inherit;
    padding: 0 0 8px;
    margin: 10px 0 var(--base-half-spacing);
}

.form-group {
    position: relative;
}

.form-group.titleanddescription:not(:first-child) {
    margin-top: var(--base-spacing);
}

/*
.form-group.shortanswer {}*/

/*
.form-group.date {}*/

/*
.form-group.longanswer {}*/

/*
.form-group.uploadafile {}*/

/*
.form-group.password {}*/

/*
.form-group.dropdown {}*/

/*
.form-group.dropdownselect {}*/

/*
.form-group.checkbox {}*/

.form-group.checkbox > label {
    padding-left:0;
}

/*
.form-group.checkbox.checkboxlist {}*/

/*
.form-group.singlecheckbox {}*/

/*
.form-group.radiobutton {}*/

/*
.form-group.multiplechoice {}*/

/*
.form-group.singlechoice {}*/

/*
.form-group.titleanddescription {}*/

.form-group.titleanddescription:first-child .heading {
    margin-top: 0;
}

.item_form-single_field .g-recaptcha { 
    margin-top:var(--base-half-spacing);
}

.justify-content-center .item_form-single_field .g-recaptcha > div { 
    margin:0 auto;
}

label {
    position: relative;
    font-weight: normal;
    display: block;
}

.radio label,
.checkbox label {
    padding-left: 20px;
    margin-bottom: 5px;
}

label em.req {
    font-style: normal;
    color: rgba(var(--form-errors), 1);
}

.form-group .note { 
    display:block;
    margin-top:5px; font-size:85%; opacity:0.8;
}

.form-control {
    min-height: 40px;
    border: var(--form-field-border-width) solid rgba(var(--base-borders), 1);
    border-radius: var(--form-field-border-radius);
    box-shadow:none;
}

.form-control:focus {
    border-color: rgba(var(--base-highlight), 1);
    box-shadow: 0 0 5px rgba(var(--base-highlight), 1);
    box-shadow:none!important;
}

.form-group.uploadafile .form-control {
    padding-top: 5px;
}

/*
.form-group.shortanswer .form-control {}*/

/*
.form-group.date .form-control {}*/

/*
.form-group.longanswer .form-control {}*/

/*
.form-group.uploadafile .form-control {}*/

/*
.form-group.password .form-control {}*/

/*
.form-group.dropdown .form-control {}*/

/*
.form-group.dropdownselect .form-control {}*/

.form-group.checkbox .form-control {
    min-height:auto; height:auto;
    width: auto;
}

.form-group.checkbox.checkboxlist .form-control {
    min-height:auto; height:auto;
    width: auto;
}

.form-group.singlecheckbox {
    min-height:auto; height:auto;
}

.form-group.radio .form-control,
.form-group.radiobutton .form-control {
    min-height:auto; height:auto;
    width: auto;
}

.form-group.multiplechoice .form-control {
    min-height:auto; height:auto;
    width: auto;
}

.form-group.singlechoice .form-control {
    min-height:auto; height:auto;
    width: auto;
}

.radio label input[type="radio"],
.checkbox label input[type="checkbox"] {
    position:absolute;
    top: 3px;
    left: -2px;
    margin: 0;
    width: auto;
}

select,
select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.form-group.dropdown .form-control,
.form-group.date .form-control {
    position: relative;
    z-index: 1;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
}

.form-group.dropdown::after,
.form-group.date::after {
    font-family: "Ionicons";
    content: "\f280";
    position: absolute;
    top: 32px;
    right: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    min-height: 38px;
    padding: 6px 15px 3px 0;
    font-size: 20px;
    text-align: right;
    color: rgba(var(--base-text), 1);
    background-color: rgba(var(--true-white), 1);
    box-sizing: border-box;
    border-radius: var(--form-field-border-radius);
}

.form-group.date::after { 
    content: "\f2ab";
}

.form-group.dropdown.no-label::after,
.form-group.date.no-label::after {
    top: 0;
}

.buttons .btn.prev+.btn.submit {
    float: right;
}


/* VALIDATION */

.form-control.input-validation-error {
    border-color: rgba(var(--form-errors), 1)!important;
    box-shadow:none;
    border-radius: var(--form-field-border-radius) var(--form-field-border-radius) 0 0;
}

.form-control.input-validation-error:focus {
    border-color: rgba(var(--form-errors), 1)!important;
    box-shadow: 0 1px 1px rgba(var(--true-black), 0.75) inset, 0 0 8px rgba(var(--form-errors), 0.5)!important;
    box-shadow:none!important;
    border-radius: var(--form-field-border-radius) var(--form-field-border-radius) 0 0;
}

.field-validation-error {
    display: block;
    padding: 5px;
    font-size: 12px;
    background-color: rgba(var(--form-errors), 1);
    color: rgba(var(--true-white), 1);
}

.validation-summary-errors {
    color: rgba(var(--form-errors), 1);
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.form .info + .alert,
.form .info + .form-inner { 
    margin-top: var(--base-half-spacing);
}
.form .info + .form-inner > .alert {
    margin-bottom: var(--base-half-spacing);
}
